DATABASE_URL=jdbc:mysql://mysql:3306/trend_ai
DATABASE_USERNAME=root
DATABASE_PASSWORD=admin

SHOW_SQL=FALSE

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=trend-ai

GEMINI_API_KEY=your_gemini_api_key